<div class="row">
    <div class="col-md-12">
        <div *ngIf="router.url.includes('true')">
            <p>
                Je registratie is succesvol afgerond.<br>
                We zijn blij om je op 4 mei te mogen ontvangen!
            </p>
        </div>

        <div *ngIf="router.url.includes('false')">
            <p>
                Jammer dat je er niet bij kan zijn. <br>
                Toch bedankt om je te registeren als "niet aanwezig", zodat wij hiervan op de hoogte zijn.</p>
        </div>
    </div>
</div>
